body {
margin:0;
height:100vh;
display:flex;
justify-content: center;
align-items:center;
background-color:orange;
font-weight: bold;
font-family: cursive;
}
.outer {
background-color: white;
border-radius: 10px;
padding: 30px;
text-aligns: center;
width: 400px;
box-shadow: 2px 2px 5px grey;
}
.form-group input  {
border:2px solid;
border-radius:6px;
width: 100px;
padding: 15px;
box-sizing: border-box; 
margin: 9px;
}
.form-container a {
text-decoratlon: none;
color: black;
font-size: 12px;
margin: 9px;
}
.form-container {
text-align:left;
position: relative;
}

.form-group button {
width:100%;
background-color: orangered;
padding:9px;
border-radius: 9px;
border: none;
color:white;
font-weight:bold;
font-family:cursive;
margin:4px;
}
.form-group input[type='email']:focus+label {
position:absolute;
margin-top:-67px;
margin-left:15px;
background-color:white;
}
.form-group input[type='password']:focus+label {
position: absolute;
margin-top:-67px;
margin-left: 15px;
background-color: white;
}
.form-group input[type='password']:not(:focus)+label,
.form-group input[type='email']:not(:focus)+lable {
display: none;
}
.outer img { 
width: 150px;
}